html {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 5in;
    margin: auto;
    text-align: center;
    min-width: 500px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.intro>.image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
}

.intro>.name {
    font-weight: bold;
    font-size: xx-large;
    margin: auto;
}

.intro>.bio {
    opacity: 80%;
    margin: auto;
}

.link-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.link {
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    scale: 0.9;
    transition: ease-in-out;
    transition-duration: 100ms;
}

.link:hover {
    scale: 1;
}