body {
    background-color: #222222;
    color: white;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 400;
    font-size: 18pt;
    margin: auto;
}

.content {
    margin: auto;
    min-width: 580px;
    max-width: 580px;
}

.blur-background {
    overflow: hidden;
}

.blur-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensure it's behind other content */
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 580px;
    height: 400px;
    margin: auto;
    position: relative;

    overflow: visible;
}

.intro::before {
    background-repeat: no-repeat;
    background-position: top;
    background-image: url('/img/intro-background.png');

    filter: blur(10px); /* Adjust the blur amount as needed */
}

.intro>.image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    margin: auto;
    aspect-ratio: 1/1;
}

.intro>.name {
    font-weight: bold;
    font-size: 40pt;
    margin: auto;
}

.intro>.bio {
    opacity: 80%;
    font-size: 20pt;
    margin: auto;
}

.link-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: auto;
}

.url {
    color: white;
    text-decoration: none;
}

.link {
    background-color: #111111;
    border: 2px solid white;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
    
    display: grid;
    grid-template-columns: 48px 1fr 48px;

    scale: 0.95;
    transition: ease-in;
    transition-duration: 100ms;
}

.link:hover {
    scale: 1;
    transition-duration: 200ms;
}

.link:active {
    scale: 0.9;
    transition-duration: 200ms;
}

.link-icon {
    width: 48px;
    height: 48px;
    margin: auto 8px;
    stroke-width: 4px;
    filter: invert(99%) sepia(1%) saturate(2072%) hue-rotate(221deg) brightness(122%) contrast(100%) drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.link-text {
    font-weight: 800;

    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.featured-link::before {
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;

    filter: blur(5px); /* Adjust the blur amount as needed */
}

.portfolio-background::before {
    background-image: url('/img/dead-island-2.jpg');
}

.itchio-background::before {
    background-image: url('/img/lone-sol.jpg');
}

.email-background::before {
    background-image: url('/img/gruttel-scuttle.jpg');
}

.github-background::before {
    background-image: url('/img/flight-attendant-simulator.jpg');
}


@media screen and (orientation: portrait) {    
    .content {
        max-width: 100vw;
    }

    .intro>.image {
        max-width: 20vh;
        max-height: 20vh;
    }

    .link-icon {
        width: 72px;
        height: 72px;
    }
}